<form class="card" id="form" (ngSubmit)="editMode ? onUpdate() : onSubmit()">
  <div class="m-2 d-flex justify-content-between">
    <div class="first">
      <div class="p-2">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name">Supplier Name</label>
            <input
              type="text"
              class="form-control"
              required
              aria-describedby="helpId"
              name="en_name"
              [(ngModel)]="data.en_name"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
          <div class="form-group col-md-6">
            <label for="company">Place</label>
            <input
              type="text"
              class="form-control"
              required
              name="en_place"
              [(ngModel)]="data.en_place"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="company">District</label>
            <input
              type="text"
              class="form-control"
              required
              name="en_district"
              [(ngModel)]="data.en_district"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
          <div class="form-group col-md-6">
            <label translate for="company">Mobile</label>
            <input
              translate
              type="number"
              class="form-control"
              required
              [(ngModel)]="data.mobile_no"
              name="mobile_no"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="company">VAT</label>
            <input
              type="number"
              class="form-control"
              required
              name="vat_no"
              [(ngModel)]="data.vat_no"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
          <div class="form-group col-md-6">
            <label for="company">LAN</label>
            <input
              type="number"
              class="form-control"
              required
              name="lan_no"
              [(ngModel)]="data.lan_no"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
          <div class="form-group col-md-6">
            <label translate for=""> Branch</label>
            <!-- branch listing  api posting -->
            <select
              class="form-control"
              name="branches"
              [(ngModel)]="data.branches"
              class="form-control"
              id="type"
              data-live-search="true"
              required
            >
              <option translate value="col" selected hidden value="">
                select
              </option>

              <option *ngFor="let item of branchesList" [value]="item.id">
                {{ item.en_name }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="second">
      <div class="p-2">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label translate for="company">مكان</label>
            <input
              translate
              type="text"
              dir="rtl"
              class="form-control"
              required
              name="ar_place"
              [(ngModel)]="data.ar_place"
              class="form-control"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>

          <div class="form-group col-md-6">
            <label translate for="company">اسم المورد</label>
            <input
              translate
              type="text"
              dir="rtl"
              class="form-control"
              required
              name="ar_name"
              [(ngModel)]="data.ar_name"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label translate for="company">هاتف أرضي</label>
            <input
              translate
              type="number"
              readonly
              dir="rtl"
              class="form-control"
              required
              [(ngModel)]="data.mobile_no"
              name="mobile_no"
            />
          </div>
          <div class="form-group col-md-6">
            <label translate for="company">منطقة</label>
            <input
              translate
              type="text"
              dir="rtl"
              class="form-control"
              required
              name="ar_district"
              [(ngModel)]="data.ar_district"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label translate for="company">هاتف أرضي</label>
            <input
              translate
              type="number"
              readonly
              dir="rtl"
              class="form-control"
              required
              [value]="supplierForm.value.lan_no"
              name="lan_no"
              [(ngModel)]="data.lan_no"
            />
          </div>
          <div class="form-group col-md-6">
            <label translate for="company">ضريبة القيمة المضافة</label>
            <input
              translate
              type="number"
              readonly
              dir="rtl"
              class="form-control"
              required
              [value]="supplierForm.value.vat_no"
              name="vat_no"
              [(ngModel)]="data.vat_no"
            />
          </div>
          <div class="form-group col-md-6">
            <label translate for=""> Branch</label>
            <!-- branch listing  api posting -->
            <select
              class="form-control"
              name="branches"
              [(ngModel)]="data.branches"
              class="form-control"
              id="type"
              data-live-search="true"
              required
            >
              <option translate value="col" selected hidden value="">
                select
              </option>

              <option *ngFor="let item of branchesList" [value]="item.id">
                {{ item.en_name }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center modal-footer">
    <button translate class="btn btn-outline-primary" type="submit">
      {{ editMode ? "Update" : "Submit" }}
    </button>
    <button
      translate
      class="btn btn-outline-warning"
      type="button"
      (click)="onReset()"
    >
      Reset
    </button>
  </div>
</form>
<div class="card mt-2">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th translate scope="col">#</th>
        <th translate scope="col">Supplier Name</th>
        <th translate scope="col">Phone Number</th>
        <th translate scope="col">VAT</th>
        <th translate scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of suppliers; let i = index">
        <th translate scope="row">{{ i + 1 }}</th>
        <td>{{ item.en_name }}</td>
        <td>{{ item.mobile_no }}</td>
        <td>{{ item.vat_no }}</td>
        <td>
          <div class="d-flex justify-content-around">
            <i title="Edit" class="bx bxs-edit" (click)="onEdit(item)"></i>
            <i
              title="Delete"
              class="bx bxs-trash"
              (click)="openModal(template)"
            ></i>
            <i
              (click)="onSuspend(item.id)"
              title="Suspend"
              class="bx bx-x-circle"
            ></i>
          </div>

          <ng-template #template>
            <div class="modal-body text-center">
              <p translate>Do you want to confirm?</p>
              <button
                translate
                type="button"
                class="btn btn-default"
                (click)="onDelete(item.id)"
              >
                Yes
              </button>
              <button
                translate
                type="button"
                class="btn btn-primary"
                (click)="decline()"
              >
                No
              </button>
            </div>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
