<form class="card" id="form" (submit)="editMode ? onUpdate() : onSubmit()">
  <div class="modal-header">
    <div class="col-md-12">
      <h6 translate>Generate Expense</h6>
      <div class="row col-md-12">
        <div class="form-group col-md-3">
          <input
            translate
            type="text"
            placeholder="Date"
            bsDatepicker
            [bsConfig]="{ containerClass: 'theme-dark-blue' }"
            [(ngModel)]="data.date"
            class="form-control"
            required
            name="date"
          />
          <small id="helpId" class="invalid-feedback">Field is required</small>
        </div>

        <div class="form-group col-md-3">
          <select
            type="text"
            class="form-control"
            name="selectss"
            [(ngModel)]="data.payment_type"
            id="type"
            required
          >
            <option translate [value]="null" selected hidden>
              Payment Type
            </option>

            <option translate [ngValue]="1" scope="col">Cash</option>
            <option translate [ngValue]="2" scope="col">Bank</option>
          </select>

          <small id="helpId" class="invalid-feedback">Field is required</small>
        </div>
        <div *ngIf="data.payment_type === 2" class="form-group col-md-3">
          <!-- branch listing -->
          <select
            class="form-control"
            name="banck"
            placeholder="bank"
            [(ngModel)]="data.bank_ac_id"
            class="form-control"
            id="type"
            data-live-search="true"
            required
            (change)="custemerlistin()"
          >
            <option translate selected hidden [ngValue]="null">
              select Bank
            </option>

            <option
              [style]="item.is_default === true ? 'color:var(--primary)' : ''"
              *ngFor="let item of bankList"
              [ngValue]="item.id"
            >
              {{ item.acc_holder_name }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="m-2">
    <div class="">
      <div class="p-2">
        <div class="form-row">
          <div class="form-group col-md-3"></div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label translate for="company">Gross Amount</label>
              <input
                translate
                type="number"
                class="form-control"
                [(ngModel)]="data.gross_amt"
                required
                name="gamnt"
              />

              <small id="helpId" class="invalid-feedback"
                >Field is required</small
              >
            </div>

            <div class="form-group col-md-3">
              <label translate for="company">Reference Number</label>
              <input
                min="0"
                translate
                type="number"
                [(ngModel)]="data.ref_no"
                class="form-control"
                required
                name="namnt"
              />

              <small id="helpId" class="invalid-feedback"
                >Field is required</small
              >
            </div>

            <div class="form-group col-md-3">
              <label translate for="company">Payable Amount</label>
              <input
                min="0"
                translate
                type="number"
                class="form-control"
                [(ngModel)]="data.paid_amt"
                required
                name="total"
              />

              <small id="helpId" class="invalid-feedback"
                >Field is required</small
              >
            </div>
            <div class="form-group col-md-3">
              <label translate for="company">Expense Type</label>
              <input
                min="0"
                translate
                type="number"
                class="form-control"
                [(ngModel)]="data.exp_type"
                required
                name="total"
              />
              <small id="helpId" class="invalid-feedback"
                >Field is required</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center modal-footer">
      <button class="btn btn-outline-primary" type="submit">
        {{ editMode ? "Update" : "Submit" }}
      </button>

      <button
        translate
        class="btn btn-outline-warning"
        type="button"
        (click)="onReset()"
      >
        Reset
      </button>
    </div>
  </div>
</form>
<div class="mt-3 card">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th translate scope="col">Date</th>
        <th translate scope="col">Ref.No</th>
        <th translate scope="col">Expense Type</th>
        <th translate scope="col">TotalAmount</th>
        <th translate scope="col">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of expense; let i = index">
        <th translate scope="row">{{ i + 1 }}</th>

        <td>{{ item.date | date: "dd/MM/YYYY" }}</td>
        <td>{{ item.ref_no }}</td>
        <td>{{ item.exp_type }}</td>
        <td>{{ item.total_amt }}</td>

        <td>
          <div class="d-flex justify-content-around">
            <i
              title="Delete"
              class="bx bxs-trash"
              (click)="openModal(template)"
            ></i>
            <!-- <i
              (click)="onSuspend(item.id)"
              title="Suspend"
              class="bx bx-x-circle"
            ></i> -->
          </div>

          <ng-template #template>
            <div class="modal-body text-center">
              <p translate>Do you want to confirm?</p>
              <div class="modal-footer">
                <button
                  translate
                  type="button"
                  class="btn btn-outline-danger"
                  (click)="onDelete(item.id)"
                >
                  Yes
                </button>
                <button
                  translate
                  type="button"
                  class="btn btn-primary"
                  (click)="decline()"
                >
                  No
                </button>
              </div>
            </div>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
