<div class="col-md-8 mt-3 mx-auto row m-auto" style="height: 350px">
  <div class="row mt-5 col-md-12 grid">
    <div
      [routerLink]="[item.routerLink]"
      routerLinkActive="active-child"
      class="menu card d-flex justify-content-center col-md-3 m-3"
      *ngFor="let item of tileList; let i = index"
      style="position: relative; height: 100px"
    >
      {{ item.title | translate }}
      <div class="overlay">
        <i class=" {{ item.icon }} m-2"></i>
      </div>
    </div>
  </div>
</div>
