<form
  class="card"
  id="form"
  (ngSubmit)="editMode === true ? update() : onSubmit()"
  oninput="cp.value!==''?cp.setCustomValidity(cp.value != newPassword.value ?  'Password doesnt match' : ''):null"
>
  <div class="modal-header">
    <h6>Manage Company Profile</h6>
  </div>
  <div class="m-2 d-flex justify-content-between">
    <div
      class="border-right"
      style="border-color: rgb(145, 145, 145) !important"
    >
      <div class="p-2">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="company">Company Name</label>
            <input
              type="text"
              class="form-control"
              required
              aria-describedby="helpId"
              [(ngModel)]="data.en_name"
              name="en_name"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
          <div class="form-group col-md-6">
            <label for="company">Email</label>
            <input
              type="email"
              class="form-control"
              required
              [readonly]="editMode === true"
              aria-describedby="helpId"
              [(ngModel)]="data.email"
              name="email"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="company">Place</label>
            <input
              type="text"
              class="form-control"
              required
              [(ngModel)]="data.en_place"
              name="en_place"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
          <div class="form-group col-md-6">
            <label for="company">District</label>
            <input
              type="text"
              class="form-control"
              required
              [(ngModel)]="data.en_district"
              name="en_district"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="company">CR</label>
            <input
              type="number"
              class="form-control"
              required
              [(ngModel)]="data.cr_no"
              name="cr_no"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
          <div class="form-group col-md-6">
            <label for="company">VAT</label>
            <input
              type="number"
              class="form-control"
              required
              [(ngModel)]="data.vat_no"
              name="vat_no"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="company">LAN</label>
            <input
              type="number"
              class="form-control"
              required
              [(ngModel)]="data.lan_no"
              name="lan_no"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
          <div class="form-group col-md-6">
            <label for="company">Mobile</label>
            <input
              type="number"
              class="form-control"
              required
              [(ngModel)]="data.phone"
              name="phone"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
        </div>
        <div *ngIf="editMode !== true" class="form-row">
          <div class="form-group col-md-6">
            <label for="company">Password</label>
            <input
              type="password"
              class="form-control"
              required
              [(ngModel)]="data.password"
              name="newPassword"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
          <div class="form-group col-md-6">
            <label for="company">Confirm Password</label>
            <input type="password" class="form-control" required name="cp" />
            <!-- <small id="helpId" class="invalid-feedback">Field is required</small> -->
            <small class="invalid-feedback">Password didn`t match</small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="company">LOGO</label>
            <input
              type="file"
              (change)="selectFile($event)"
              class="form-control"
              required
              [(ngModel)]="data.logo"
              name="logo"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="p-2">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-md-12 text-right ml-auto" for="company"
              >اسم الشركة</label
            >
            <input
              type="text"
              dir="rtl"
              class="form-control"
              required
              [(ngModel)]="data.ar_name"
              name="ar_name"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
          <div class="form-group col-md-6">
            <label for="company">Email</label>
            <input
              type="email"
              readonly
              class="form-control"
              required
              name="email"
              aria-describedby="helpId"
              [(ngModel)]="data.email"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-md-12 text-right ml-auto" for="company"
              >مكان</label
            >
            <input
              type="text"
              dir="rtl"
              class="form-control"
              name="ar_place"
              required
              [(ngModel)]="data.ar_place"
              name="ar_place"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-12 text-right ml-auto" for="company"
              >منطقة</label
            >
            <input
              type="text"
              dir="rtl"
              class="form-control"
              name="ar_district"
              required
              [(ngModel)]="data.ar_district"
              name="ar_district"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-md-12 text-right ml-auto" for="company"
              >سجل تجاري</label
            >
            <input
              type="number"
              readonly
              dir="rtl"
              class="form-control"
              required
              [(ngModel)]="data.cr_no"
              name="cr_no"
            />
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-12 text-right ml-auto" for="company"
              >التليفون المحمول</label
            >
            <input
              type="number"
              readonly
              dir="rtl"
              class="form-control"
              required
              [(ngModel)]="data.vat_no"
              name="vat_no"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-md-12 text-right ml-auto" for="company"
              >هاتف أرضي</label
            >
            <input
              type="number"
              readonly
              dir="rtl"
              class="form-control"
              required
              [(ngModel)]="data.lan_no"
              name="lan_no"
            />
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-12 text-right ml-auto" for="company"
              >هاتف أرضي</label
            >
            <input
              type="number"
              readonly
              dir="rtl"
              class="form-control"
              required
              [(ngModel)]="data.phone"
              name="phone"
            />
          </div>
        </div>
        <div *ngIf="editMode !== true" class="form-row">
          <div class="form-group col-md-6">
            <label for="company">Password</label>
            <input
              type="password"
              readonly
              name="password"
              class="form-control"
              required
              [(ngModel)]="data.password"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
          <div class="form-group col-md-6">
            <label for="company">Confirm Password</label>
            <input
              type="password"
              name="confirm_password"
              readonly
              class="form-control"
              required
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-md-12 text-right ml-auto" for="company"
              >شعار</label
            >
            <input
              type="text"
              readonly
              dir="rtl"
              name="logo"
              class="form-control"
              [(ngModel)]="data.logo"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center modal-footer">
    <button class="btn btn-outline-primary" type="submit">
      {{ editMode ? "Update" : "Submit" }}
    </button>
    <button class="btn btn-outline-warning" type="button" (click)="onReset()">
      Reset
    </button>
  </div>
</form>
<div class="card mt-3">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Company Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">VAT</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of companies; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.en_name }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.vat_no }}</td>
        <td>
          <div class="d-flex justify-content-around">
            <i title="Edit" class="bx bxs-edit" (click)="onEdit(item)"></i>
            <i
              title="Delete"
              class="bx bxs-trash"
              (click)="openModal(template)"
            ></i>
            <i
              title="Suspend"
              (click)="suspend(item.id)"
              class="bx bx-x-circle"
            ></i>
          </div>

          <ng-template #template>
            <div class="modal-body text-center">
              <p>Do you want to confirm?</p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-danger"
                (click)="onDelete(item.id)"
              >
                Yes
              </button>
              <button type="button" class="btn btn-primary" (click)="decline()">
                No
              </button>
            </div>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
