<div class="card m-auto col-md-12">
  <div class="modal-header">
    <h6 translate>Change Pasword</h6>
  </div>
  <div class="col-md-12">
    <form id="form" (submit)="onSubmit()" (reset)="onReset()">
      <div class="row mt-3">
        <div class="form-group col-md-4">
          <label translate for="Email"> Email</label>
          <input
            translate
            type="text"
            class="form-control"
            [(ngModel)]="data.email"
            name="email"
            id="email"
            placeholder="Email"
            required
          />

          <small class="invalid-feedback">Field required</small>
        </div>
        <div class="form-group col-md-4">
          <label translate for="owner_name">Change Password</label>
          <input
            translate
            type="text"
            class="form-control"
            [(ngModel)]="data.password"
            placeholder="Change Password"
            name="password"
            id="password"
            required
          />
          <!-- <small
            [hidden]="
              password.valid || (password.pristine && !f.submit)
            "
          > -->
          <!-- </small> -->
          <small class="invalid-feedback">Field required</small>
        </div>
        <div class="form-group col-md-4">
          <label translate for="Conform Password">Confirm Password</label>
          <input
            translate
            type="password"
            class="form-control"
            name="Password"
            [(ngModel)]="data.confirm_password"
            id="Password"
            placeholder="Conform Password"
            required
          />
          <span
            style="font: size 5px; color: red"
            *ngIf="
              data.password !== data.confirm_password &&
              data.confirm_password.length > 0
            "
            >Password Must Match</span
          >

          <!-- <small
            [hidden]="password.valid || (password.pristine && !f.submitted)"
          >
            Password mismatch
          </small> -->
          <small class="invalid-feedback">Field required</small>
        </div>
      </div>
      <!-- <div class="col-md-auto" *ngIf="data.password !== data.confirm_password"> -->
      <!-- <div class="col-md-auto" [hidden]="data.password || data.password">
        <span style="font: size 5px; color: red; text-align: left">
          Password and Confirm Password must be match.
        </span>
      </div> -->
      <div class="modal-footer">
        <button
          *ngIf="
            data.password === data.confirm_password &&
            data.confirm_password.length > 0
          "
          type="submit"
          class="btn btn-outline-primary"
        >
          {{ "Submit" | translate }}
        </button>
      </div>
    </form>
  </div>
  <!-- </div> -->
</div>
