<form [formGroup]="customerForm" class="card" id="form" (ngSubmit)="onSubmit()">
  <div class="m-2 d-flex flex-column justify-content-between">
    <div class="modal-header flex-column">
      <label for="colFormLabelLg">Vat Percentage</label>
      <div class="form-row ml-4">
        <div class="form-group col-md-12 d-flex">
          <label for="name">VAT</label>
          <div class="ml-2 col-md-3">
            <input
              type="number"
              class="form-control col-md-12"
              required
              formControlName="vat"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
          <span class="mt-2">%</span>
        </div>
      </div>
    </div>
    <div class="second">
      <div class="p-2 m-2">
        <div class="m-2 d-flex justify-content-between w-50">
          <label
            for="fuelname"
            class="col-sm-12 col-form-label col-form-label-lg"
            >Fuel Name</label
          >
          <label
            for="fuelname"
            class="col-sm-12 col-form-label col-form-label-lg"
            >Vat %</label
          >
        </div>
        <div class="m-2 d-flex justify-content-between w-50">
          <div class="col-sm-12">
            <input
              type="text"
              class="form-control col-md-12"
              id="fuel"
              required
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
          <div class="col-sm-3">
            <input
              type="number"
              class="form-control col-md-12"
              id="vat"
              required
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
        </div>

        <div class="m-2 d-flex justify-content-between w-50">
          <div class="col-sm-12">
            <input
              type="text"
              class="form-control col-md-12"
              id="fuel"
              required
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
          <div class="col-sm-3">
            <input
              type="number"
              class="form-control col-md-12"
              id="vat"
              required
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
        </div>

        <div class="m-2 d-flex justify-content-between w-50">
          <div class="col-sm-12">
            <input
              type="text"
              class="form-control col-md-12"
              id="fuel"
              required
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
          <div class="col-sm-3">
            <input
              type="number"
              class="form-control col-md-12"
              id="vat"
              required
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
        </div>

        <div
          *ngFor="let count of counts"
          class="m-2 d-flex justify-content-between w-50"
        >
          <div class="col-sm-12">
            <input
              type="text"
              class="form-control col-md-12"
              id="fuel"
              required
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
          <div class="col-sm-3">
            <input
              type="number"
              class="form-control col-md-12"
              id="vat"
              required
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
        </div>
        <div class="add" style="width: 30%">
          <i
            class="bx bx-plus-circle"
            style="font-size: 30px"
            (click)="count()"
          ></i>
        </div>
        <!-- <div class="form-group row m-2">
           <label for="inputPassword" class="col-sm-6 col-form-label">If you want to add more fuels please select the count</label>
           <div class="col-sm-6">
             <select id="inputState" class="form-control col-md-3" (change)="count($event)">
               <option selected>0</option>
               <option>1</option>
               <option>2</option>
               <option>3</option>
             </select>
           </div>
         </div> -->
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center modal-footer">
    <button class="btn btn-outline-primary" type="submit">
      {{ editMode ? "Update" : "Submit" }}
    </button>
    <button class="btn btn-outline-warning" type="button" (click)="onReset()">
      Reset
    </button>
  </div>
</form>
