<form class="card" id="form">
  <div class="m-2 d-flex flex-column justify-content-between">
    <div class="modal-header flex-column">
      <label for="colFormLabelLg">Vat Percentage</label>
      <div class="form-row ml-4">
        <div class="form-group col-md-12 d-flex">
          <label for="name">VAT</label>
          <div class="ml-2 col-md-3">
            <input
              type="number"
              class="form-control col-md-12"
              required
              [(ngModel)]="commonVat.vat"
              name="commonvat"
            />
            <small id="helpId" class="invalid-feedback"
              >Field is required</small
            >
          </div>
          <button
            [disabled]="commonVat.vat === null"
            class="btn btn-outline-primary"
            (click)="vatEditMode ? onUpdateVat() : onSubmitVat()"
          >
            {{ vatEditMode ? "Update" : "Submit" }}
          </button>
        </div>
      </div>
    </div>
    <div class="second">
      <div class="p-2 m-2">
        <div class="m-2 d-flex justify-content-between w-50">
          <label
            for="fuelname"
            class="col-sm-12 col-form-label col-form-label-lg"
            >Fuel Name</label
          >
          <label
            for="fuelname"
            class="col-sm-12 col-form-label col-form-label-lg"
            >Vat %</label
          >
        </div>

        <div
          *ngFor="let item of fuelData; let i = index"
          class="m-2 d-flex justify-content-between w-50"
        >
          <div class="col-sm-12">
            <input
              type="text"
              class="form-control col-md-12"
              [(ngModel)]="item.name"
              name="fuel_name{{ item.renderId }}"
              id="fuel"
            />
          </div>
          <div class="col-sm-3">
            <input
              type="number"
              class="form-control col-md-12"
              [(ngModel)]="item.fuel_vat"
              name="fuel_vat{{ item.renderId }}"
              class="form-control col-md-12"
              id="vat"
            />
          </div>
          <div class="add">
            <i
              *ngIf="i !== 0"
              style="font-size: 30px"
              (click)="removeInputs(i)"
              class="bx bx-x"
            ></i>
          </div>
        </div>
        <div class="add" style="width: 30%">
          <i
            class="bx bx-plus-circle"
            style="font-size: 30px"
            (click)="addInputs()"
          ></i>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center modal-footer">
    <button
      (click)="
        $event.preventDefault(); FuelEditMode ? onUpdateFuel() : onSubmitFuel()
      "
      class="btn btn-outline-primary"
      type="submit"
    >
      {{ FuelEditMode ? "Update" : "Submit" }}
    </button>
    <button class="btn btn-outline-warning" type="button" (click)="onReset()">
      Reset
    </button>
  </div>
</form>

<div class="mt-3 card">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Vat</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tableData; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.fuel_vat }}</td>
        <td>
          <div class="d-flex justify-content-around">
            <i title="Edit" class="bx bxs-edit" (click)="onEdit(item)"></i>
            <i
              title="Delete"
              class="bx bxs-trash"
              (click)="openModal(template)"
            ></i>
            <!-- <i
              (click)="onSuspend(item.id)"
              title="Suspend"
              class="bx bx-x-circle"
            ></i> -->
          </div>

          <ng-template #template>
            <div class="modal-body text-center">
              <p>Do you want to confirm?</p>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  (click)="onDeleteFuel(item.id)"
                >
                  Yes
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="decline()"
                >
                  No
                </button>
              </div>
            </div>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
