<sidebar>
  <div class="card m-auto col-md-12">
    <div class="modal-header">
      <h6 translate>Manage Bank Accounts</h6>
    </div>
    <div class="col-md-12">
      <form id="bnkForm">
        <div class="row mt-3">
          <!-- <div class="form-group col-md-4">
          <label translate for="bnk_name">Created Date</label>
          <input translate
            type="text"
            class="form-control"
            name="bnk_name"
            id="bnk_name"
            
            required
          />
          <small class="invalid-feedback">Field required</small>
        </div> -->
          <div class="form-group col-md-4">
            <label translate for="bnk_name">Bank name</label>
            <input
              translate
              type="text"
              class="form-control"
              name="bnk_name"
              id="bnk_name"
              required
            />
            <small class="invalid-feedback">Field required</small>
          </div>
          <div class="form-group col-md-4">
            <label translate for="holder">Account Holder Name</label>
            <input
              translate
              type="text"
              class="form-control"
              name="holder"
              id="holder"
              required
            />
            <small class="invalid-feedback">Field required</small>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label translate for="ACC_NO">Account No</label>
            <input
              translate
              type="number"
              class="form-control"
              name="ACC_NO"
              id="ACC_NO"
              required
            />
            <small class="invalid-feedback">Field required</small>
          </div>
          <div class="form-group col-md-4">
            <label translate for="bnk_branch">Branch</label>
            <input
              translate
              type="text"
              class="form-control"
              name="bnk_branch"
              id="bnk_branch"
              required
            />
            <small class="invalid-feedback">Field required</small>
          </div>
        </div>
        <div class="modal-footer">
          <button translate type="submit" class="btn btn-outline-primary">
            <!-- TODO: add editmode -->
            <!-- {{ editMode === true ? "Update" : "Submit" }} -->
          </button>
          <button translate type="reset" class="btn btn-outline-warning">
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="mt-3 card">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th translate scope="col">#</th>
          <th translate scope="col">Bank Name</th>
          <th translate scope="col">Account Holder</th>
          <th translate scope="col">Account No</th>
          <th translate scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- TODO: implement table data loops -->
        <!-- <tr *ngFor="let item of bankaccounts; let i = index">
        <th translate scope="row">{{ i + 1 }}</th>
        <td>{{ item.bank_name }}</td>
        <td>{{ item.acc_holder_name }}</td>
        <td>{{ item.acc_no }}</td>
        <td>
          <div class="d-flex justify-content-around">
            <i title="Edit" class="bx bxs-edit" (click)="onEdit(item)"></i>
            <i
              title="Delete"
              class="bx bxs-trash"
              (click)="openModal(template)"
            ></i>
          
          </div>

          <ng-template #template>
            <div class="modal-body text-center">
              <p translate>Do you want to confirm?</p>
              <div class="modal-footer">
                <button
                  translate
                  type="button"
                  class="btn btn-outline-danger"
                  (click)="onDelete(item.id)"
                >
                  Yes
                </button>
                <button
                  translate
                  type="button"
                  class="btn btn-primary"
                  (click)="decline()"
                >
                  No
                </button>
              </div>
            </div>
          </ng-template>
        </td>
      </tr> -->
      </tbody>
    </table>
  </div>
  <div class="col-md-10">
    <form
      class="card"
      id="form"
      (ngSubmit)="editMode === true ? update() : onSubmit()"
      oninput="cp.value!==''?cp.setCustomValidity(cp.value != newPassword.value ?  'Password doesnt match' : ''):null"
    >
      <div class="modal-header">
        <h6 translate>Manage Company Profile</h6>
      </div>
      <div class="m-2 d-flex justify-content-between">
        <div
          class="border-right"
          style="border-color: rgb(145, 145, 145) !important"
        >
          <div class="p-2 col-md-12">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label translate for="company">Company Name</label>
                <input
                  translate
                  type="text"
                  class="form-control"
                  required
                  aria-describedby="helpId"
                  [(ngModel)]="data.en_name"
                  name="en_name"
                />
                <small id="helpId" class="invalid-feedback"
                  >Field is required</small
                >
              </div>
              <div class="form-group col-md-6">
                <label translate for="company">Email</label>
                <input
                  translate
                  type="email"
                  class="form-control"
                  required
                  [readonly]="editMode === true"
                  aria-describedby="helpId"
                  [(ngModel)]="data.email"
                  name="email"
                />
                <small id="helpId" class="invalid-feedback"
                  >Field is required</small
                >
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label translate for="company">Place</label>
                <input
                  translate
                  type="text"
                  class="form-control"
                  required
                  [(ngModel)]="data.en_place"
                  name="en_place"
                />
                <small id="helpId" class="invalid-feedback"
                  >Field is required</small
                >
              </div>
              <div class="form-group col-md-6">
                <label translate for="company">District</label>
                <input
                  translate
                  type="text"
                  class="form-control"
                  required
                  [(ngModel)]="data.en_district"
                  name="en_district"
                />
                <small id="helpId" class="invalid-feedback"
                  >Field is required</small
                >
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label translate for="company">CR</label>
                <input
                  translate
                  type="number"
                  class="form-control"
                  required
                  [(ngModel)]="data.cr_no"
                  name="cr_no"
                />
                <small id="helpId" class="invalid-feedback"
                  >Field is required</small
                >
              </div>
              <div class="form-group col-md-6">
                <label translate for="company">VAT</label>
                <input
                  translate
                  type="number"
                  class="form-control"
                  required
                  [(ngModel)]="data.vat_no"
                  name="vat_no"
                />
                <small id="helpId" class="invalid-feedback"
                  >Field is required</small
                >
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label translate for="company">LAN</label>
                <input
                  translate
                  type="number"
                  class="form-control"
                  required
                  [(ngModel)]="data.lan_no"
                  name="lan_no"
                />
                <small id="helpId" class="invalid-feedback"
                  >Field is required</small
                >
              </div>
              <div class="form-group col-md-6">
                <label translate for="company">Mobile</label>
                <input
                  translate
                  type="number"
                  class="form-control"
                  required
                  [(ngModel)]="data.phone"
                  name="phone"
                />
                <small id="helpId" class="invalid-feedback"
                  >Field is required</small
                >
              </div>
            </div>
            <div *ngIf="editMode !== true" class="form-row">
              <div class="form-group col-md-6">
                <label translate for="company">Password</label>
                <input
                  translate
                  type="password"
                  class="form-control"
                  required
                  [(ngModel)]="data.password"
                  name="newPassword"
                />
                <small id="helpId" class="invalid-feedback"
                  >Field is required</small
                >
              </div>
              <div class="form-group col-md-6">
                <label translate for="company">Confirm Password</label>
                <input
                  translate
                  type="password"
                  class="form-control"
                  required
                  name="cp"
                />
                <!-- <small id="helpId" class="invalid-feedback">Field is required</small> -->
                <small class="invalid-feedback">Password didn`t match</small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label translate for="company">LOGO</label>
                <input
                  translate
                  type="file"
                  (change)="selectFile($event)"
                  class="form-control"
                  required
                  [(ngModel)]="data.logo"
                  name="logo"
                />
                <small id="helpId" class="invalid-feedback"
                  >Field is required</small
                >
              </div>
              <div class="form-group col-md-6">
                <label translate for="company">Username</label>
                <input
                  translate
                  type="username"
                  class="form-control"
                  required
                  [readonly]="editMode === true"
                  aria-describedby="helpId"
                  [(ngModel)]="data.username"
                  name="username"
                />
                <small id="helpId" class="invalid-feedback"
                  >Field is required</small
                >
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="p-2 col-md-12">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label
                  translate
                  class="col-md-12 text-right ml-auto"
                  for="company"
                  >اسم الشركة</label
                >
                <input
                  translate
                  type="text"
                  dir="rtl"
                  class="form-control"
                  required
                  [(ngModel)]="data.ar_name"
                  name="ar_name"
                />
                <small id="helpId" class="invalid-feedback"
                  >Field is required</small
                >
              </div>
              <div class="form-group col-md-6">
                <label translate for="company">Email</label>
                <input
                  translate
                  type="email"
                  readonly
                  class="form-control"
                  required
                  name="email"
                  aria-describedby="helpId"
                  [(ngModel)]="data.email"
                />
                <small id="helpId" class="invalid-feedback"
                  >Field is required</small
                >
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label
                  translate
                  class="col-md-12 text-right ml-auto"
                  for="company"
                  >مكان</label
                >
                <input
                  translate
                  type="text"
                  dir="rtl"
                  class="form-control"
                  name="ar_place"
                  required
                  [(ngModel)]="data.ar_place"
                  name="ar_place"
                />
                <small id="helpId" class="invalid-feedback"
                  >Field is required</small
                >
              </div>
              <div class="form-group col-md-6">
                <label
                  translate
                  class="col-md-12 text-right ml-auto"
                  for="company"
                  >منطقة</label
                >
                <input
                  translate
                  type="text"
                  dir="rtl"
                  class="form-control"
                  name="ar_district"
                  required
                  [(ngModel)]="data.ar_district"
                  name="ar_district"
                />
                <small id="helpId" class="invalid-feedback"
                  >Field is required</small
                >
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label
                  translate
                  class="col-md-12 text-right ml-auto"
                  for="company"
                  >سجل تجاري</label
                >
                <input
                  translate
                  type="number"
                  readonly
                  dir="rtl"
                  class="form-control"
                  required
                  [(ngModel)]="data.cr_no"
                  name="cr_no"
                />
              </div>
              <div class="form-group col-md-6">
                <label
                  translate
                  class="col-md-12 text-right ml-auto"
                  for="company"
                  >التليفون المحمول</label
                >
                <input
                  translate
                  type="number"
                  readonly
                  dir="rtl"
                  class="form-control"
                  required
                  [(ngModel)]="data.vat_no"
                  name="vat_no"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label
                  translate
                  class="col-md-12 text-right ml-auto"
                  for="company"
                  >هاتف أرضي</label
                >
                <input
                  translate
                  type="number"
                  readonly
                  dir="rtl"
                  class="form-control"
                  required
                  [(ngModel)]="data.lan_no"
                  name="lan_no"
                />
              </div>
              <div class="form-group col-md-6">
                <label
                  translate
                  class="col-md-12 text-right ml-auto"
                  for="company"
                  >هاتف أرضي</label
                >
                <input
                  translate
                  type="number"
                  readonly
                  dir="rtl"
                  class="form-control"
                  required
                  [(ngModel)]="data.phone"
                  name="phone"
                />
              </div>
            </div>
            <div *ngIf="editMode !== true" class="form-row">
              <div class="form-group col-md-6">
                <label translate for="company">Password</label>
                <input
                  translate
                  type="password"
                  readonly
                  name="password"
                  class="form-control"
                  required
                  [(ngModel)]="data.password"
                />
                <small id="helpId" class="invalid-feedback"
                  >Field is required</small
                >
              </div>
              <div class="form-group col-md-6">
                <label translate for="company">Confirm Password</label>
                <input
                  translate
                  type="password"
                  name="confirm_password"
                  readonly
                  class="form-control"
                  required
                />
                <small id="helpId" class="invalid-feedback"
                  >Field is required</small
                >
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label
                  translate
                  class="col-md-12 text-right ml-auto"
                  for="company"
                  >شعار</label
                >
                <input
                  translate
                  type="text"
                  readonly
                  dir="rtl"
                  name="logo"
                  class="form-control"
                  [(ngModel)]="data.logo"
                />
              </div>
              <div class="form-group col-md-6">
                <label translate for="company">Username</label>
                <input
                  translate
                  type="username"
                  class="form-control"
                  required
                  [readonly]="editMode === true"
                  aria-describedby="helpId"
                  [(ngModel)]="data.username"
                  name="username"
                />
                <small id="helpId" class="invalid-feedback"
                  >Field is required</small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center modal-footer">
        <button translate class="btn btn-outline-primary" type="submit">
          {{ editMode ? "Update" : "Submit" }}
        </button>
        <button
          translate
          class="btn btn-outline-warning"
          type="button"
          (click)="onReset()"
        >
          Reset
        </button>
      </div>
    </form>
    <div class="card mt-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th translate scope="col">#</th>
            <th translate scope="col">Company Name</th>
            <th translate scope="col">Phone Number</th>
            <th translate scope="col">VAT</th>
            <th translate scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of companies; let i = index">
            <th translate scope="row">{{ i + 1 }}</th>
            <td>{{ item.en_name }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.vat_no }}</td>
            <td>
              <div class="d-flex justify-content-around">
                <i title="Edit" class="bx bxs-edit" (click)="onEdit(item)"></i>
                <i
                  title="Delete"
                  class="bx bxs-trash"
                  (click)="openModal(template)"
                ></i>
                <i
                  title="Suspend"
                  (click)="suspend(item.id)"
                  class="bx bx-x-circle"
                ></i>
              </div>

              <ng-template #template>
                <div class="modal-body text-center">
                  <p translate>Do you want to confirm?</p>
                </div>
                <div class="modal-footer">
                  <button
                    translate
                    type="button"
                    class="btn btn-outline-danger"
                    (click)="onDelete(item.id)"
                  >
                    Yes
                  </button>
                  <button
                    translate
                    type="button"
                    class="btn btn-primary"
                    (click)="decline()"
                  >
                    No
                  </button>
                </div>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</sidebar>
