<!-- <div class="card m-auto col-md-12">
  <div class="col-md-12">
    <form id="bankform">
      <div class="row mt-3">
        <div class="row col-md-12">
          <div class="form-group col-md-2">
            <label translate for="">Branch</label>
            <select class="form-control" name="selectes">
              <option translate value="">Branch</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <label translate for="">Vat</label>
            <input
              translate
              type="text"
              placeholder="{{ 'Vat' | translate }}"
              class="form-control"
            />
          </div>
        </div>
      </div>

      <div class="card">
        <table class="table table-bordered">
          <tr>
            <th translate scope="col">#</th>
            <th translate scope="col">fuel</th>
            <th translate scope="col">Vat</th>
            <th translate scope="col">Action</th>
          </tr>
          <tr>
            <td scope="col">1</td>
            <td scope="col">pet 1</td>
            <td scope="col">5</td>
            <td scope="col"></td>
          </tr>
          <tr>
            <td scope="col">2</td>
            <td scope="col">pet 2</td>
            <td scope="col">6</td>
            <td scope="col"></td>
          </tr>
        </table>
      </div>
    </form>
  </div>
</div> -->
