<div class="card m-auto col-md-12">
  <div class="modal-header">
    <h6 translate>Fuel Stck</h6>
    <div>
      <div class="col-md-12">
        <form id="form">
          <div class="row mt-3">
            <div class="form-group col-md-3">
              <select class="form-control" name="fuel" id="type">
                <option translate selected hidden value="">Select Fuel</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label translate for="fuel"> Fuel</label>
              <input translate type="number" class="form-control" name="qty" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
