<div class="card m-auto col-md-12">
  <div class="modal-header">
    <h6 translate>Manage Bank Accounts</h6>
  </div>
  <div class="col-md-12">
    <form
      id="cashForm"
      (submit)="editMode ? onUpdate() : onSubmit()"
      (reset)="onReset()"
    >
      <div class="row mt-3">
        <!-- <div class="form-group col-md-4">
          <label translate for="bnk_name">Created Date</label>
          <input translate
            type="text"
            class="form-control"
            name="bnk_name"
            id="bnk_name"
            
            required
          />
          <small class="invalid-feedback">Field required</small>
        </div> -->
        <div class="form-group col-md-4">
          <label translate for="cash account name">Cash Account Name</label>
          <input
            translate
            type="text"
            class="form-control"
            name="cash_ac_name"
            [(ngModel)]="data.cash_ac_name"
            id="cash_ac_name"
            required
          />
          <small class="invalid-feedback">Field required</small>
        </div>

        <div class="form-group col-md-4">
          <label translate for=""> Owner</label>
          <!-- branch listing  api posting -->
          <select
            class="form-control"
            name="branches"
            [(ngModel)]="data.owner"
            class="form-control"
            id="type"
            data-live-search="true"
          >
            <option translate value="col" selected hidden value="">
              select
            </option>

            <option *ngFor="let item of ownersList" [value]="item.id">
              {{ item.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div *ngIf="editMode !== true" class="form-group col-md-4">
          <label translate for="opening balance">Opening Balance</label>
          <input
            translate
            type="number"
            class="form-control"
            name="opening balance"
            [(ngModel)]="data.opening_balance"
            id="opening balance"
            required
          />
          <small class="invalid-feedback">Field required</small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-primary">
          {{
            editMode === true ? ("Update" | translate) : ("Submit" | translate)
          }}
        </button>
        <button translate type="reset" class="btn btn-outline-warning">
          Reset
        </button>
      </div>
    </form>
  </div>
</div>
<div class="mt-3 card">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th translate scope="col">#</th>
        <th translate scope="col">Bank Name</th>
        <th translate scope="col">Account Holder</th>
        <th translate scope="col">Account No</th>
        <th translate scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let item of cashmaster; let i = index">
        <th translate scope="row">{{ i + 1 }}</th>
        <td>{{ item.cash_ac_name }}</td>
        <td>{{ item.opening_balance }}</td>
        <td>
          <div class="d-flex justify-content-around">
            <i title="Edit" class="bx bxs-edit" (click)="onEdit(item)"></i>
            <i
              title="Delete"
              class="bx bxs-trash"
              (click)="openModal(template)"
            ></i>
             <i
              (click)="onSuspend(item.id)"
              title="Suspend"
              class="bx bx-x-circle"
            ></i>
          </div>

          <ng-template #template>
            <div class="modal-body text-center">
              <p translate>Do you want to confirm?</p>
              <div class="modal-footer">
                <button
                  translate
                  type="button"
                  class="btn btn-outline-danger"
                  (click)="onDelete(item.id)"
                >
                  Yes
                </button>
                <button
                  translate
                  type="button"
                  class="btn btn-primary"
                  (click)="decline()"
                >
                  No
                </button>
              </div>
            </div>
          </ng-template>
        </td>
      </tr> -->
    </tbody>
  </table>
</div>
